@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("OpenSans"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("WorkSans"), url("../fonts/WorkSans-SemiBold.ttf") format("truetype");
}

.mt-3 {
  margin-top: 12px;
}

.mr-3 {
  margin-right: 12px;
}

:root {
  --black: #000;
  --purple: #f5eafb;
  --hovered-purple: #ede0f3;
  --dark-purple: #9f97c7;
  --darker-purple: #837ca6;

  --clicked-button: scale(0.9);
}

/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */